body
{
	/*w:1400  h:1700*/
	width: 1349px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	/* background-image: url(../images/back.png); */
	/* border: solid 1px; */
	background-color: #E5E4DB;
	border-color: red;
}

div#view
{
	/*w:1022 h:1700*/
	width: 90%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1%;/*15px;*/
	padding-right: 1%;
	/* border: solid 1px; */
	border-color: yellow;
}

div#head
{
	/*w:976 h:280*/
	float: left;
	width: 100%;
	height: auto;
	margin-top: 0px;
	/* border: solid 1px; */
	/* border-color: blue; */
}
div#head-logo
{
	/*w:130 h:110*/
	width: 140px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	/* border: solid 1px; */
	border-color: black;
}

div#head-logo>a
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
	color: #4486F7;
}
div#head-logo>a>img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 75%;
	height: 75%;
}

div#upload_area
{
	float: right;
	width: 200px;
	margin-top: -80px;
	margin-right: 50px;
	margin-bottom: 30px;
}
div#upload_area>a
{
	display: block;
	line-height: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 120px;
	height: 30px;
	color: #FFF;
	background-color: #4486F7;
	text-align: center;
}
div#text_notecount,div#text_upload, div#note-list-count
{
	width: 200px;
	margin-bottom: 5px;
	color: #FF7335;
	text-align: center;
}
div#text_notecount, div#note-list-count
{
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 5px;
}
div#text_upload
{	
	color: black;
}
div#note
{
	/*w:976 h:280*/
	width: 100%;
	height: 510px;
	margin-top: 20px;
	/* border: solid 1px; */
	border-color: red;
}
div#note-aphabet
{
	/*w:70 h:aut0*/
	float: left;
	text-align: center;
	width: 40px;
	/* border:solid 1px; */
}
div#note-aphabet>ul
{
	padding-left: 5px;
	width: 30px;
	list-style: none;
	margin-top: 0px;
}
div#note-aphabet>ul>li>a
{
	color: #FF7335;	
	font-weight: bold;
	/* border:solid 1px; */
}
div#note-aphabet>ul>li>a.disabled
{
	color: #A4A4A4;
}
div#note-aphabet>ul>li>a:hover
{
	color: #FFF;
}
div#note-list
{
	/*w:400 h:auto*/
	float: left;
	width: 360px;
	height: 510px;
	border: solid 5px;
	border-color:#ECECEC;
}

div#note-txt
{
	float: left;
	width: 800px;
	height: 500px;
	margin-left: 1%;
	border: solid 1px;
	border-color: #ECECEC;	
}
div#note-list>ul
{
	height: 450px;
	overflow-y:scroll;
	padding-left: 2px;
	list-style: none;

}
div#note-list>ul>li
{
	width: 100%;
	height: 90px;


}
.note-list-img
{
	float: left;
	width: 72px;
	height: 72px;
	border: solid 1px;
}
.note-list-title
{
	float: left;
	width: 260px;
	height: 48px;
	border-bottom: solid 2px;
	border-color: #FEE;
}
.note-list-title>a
{
	color: #4486F7;
}

.note-list-title>a:hover,.note-list-title>a:focus
{
	color: #FF7335;
}


.note-list-author
{
	float: left;
	width: 260px;
	height: 24px;
	font-size: 90%;
	/* border: solid 1px; */
}
div#note-txt-title
{
	/*w: h:180*/
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 200%;
	font-style: bold;
	text-align: center;
	/* border: solid 1px; */
}
div#note-txt-title>a
{
	color:black;
	text-decoration:none;
}

div#guide-info img
{
	display: block;
	margin:auto;
	margin-top: 30px;
}
div#guide-tip img
{
	display: block;
	margin:auto;
	margin-bottom: 30px;

}
div#guide-tip label
{
	color: #4486F7;
	display: block;
	margin:auto;
	margin-bottom: 20px;
	text-align: center;
}
div#guide-tip label b
{
	color: #FF7335;
}
div#guide-info label
{
	display: block;
	margin:auto;
	text-align: center;
}
div#note-txt-date
{
	width: 100%;
	height: 30px;
	color: #4486F7;
	text-align: center;
	/* border: solid 1px; */
}

div#note-txt-note
{
	width: 760px;
	height: 390px;
	margin-left: auto;
	margin-right: auto;
	overflow-y:scroll;
	line-height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	/* border: solid 1px; */
	border-color: orange;
}

div.test
{
	width: 100%;
	margin:0px;
	background-color: #F9F9F9;
	margin-top: 10px;
	border: solid 1px;
	border-color: orange;
}

div#footer
{
	margin-top: 200px;
	width: 100%;
	height: 150px;
	/* border: solid 1px; */
	border-color: blue;
}
div#footer-curtain
{
	height: 50%;
	background-color: #009DD9;
}
div#footer-curtain-copyright
{
	padding-top: 40px;
	color: white;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}
div#footer-contact>ol
{
	height: 50%;
	margin-bottom: -36px;
}
div#footer-contact>ol>li
{
	display: inline;
	margin-left: 75px;
}
div#footer-contact>ol>li>a>img
{
	width: 72px;
	height: 72px;
}